<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<form action="/urls" method="post">
    Enter URL: 
    <input type ="text" name="long_url">
    <input type="submit" value="Submit">
 </form>

 <p><% @urls.each do |url| %></p>

 	<p>Long URL: <%= "#{url.long_url}" %>  
 	<p>Short URL: <%= "http://localhost:9393/#{url.short_url}" %>  
	<p><% end %></p>
	<br>